<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dashboard</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <h1>dashboard</h1>

    <div class="container">
        <div name="linkers" class="container">
            <a href="#" onclick="hideDivById('admin')">admin</a>
            <a href="#" onclick="hideDivById('about')">about</a>
        </div>

        <div class="main">
            <!-- here we are going to add the pages -->
            <div style="display:none" id="admin" name="w3includes" w3-include-html="http://localhost:5000/admin"></div>
            <div style="display:none" id="about" name="w3includes" w3-include-html="http://localhost:5000/about"></div>
        </div>
    </div>

    <script src="https://www.w3schools.com/lib/w3.js"></script>
    <script src="/static/script.js"></script>
</body>

</html>