<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dashboard</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <h1>dashboard</h1>

    <div class="container">
        <div name="linkers" class="container">
            <a href="#">admin</a>
            <a href="#">about</a>
        </div>

        <div class="main">
            <p>carga dinamica de paginas</p>
        </div>
    </div>

    <script src="/static/script.js"></script>
</body>

</html>